<!DOCTYPE html>
<html lang="en">
{% load static%}
<head>

    <meta charset="UTF-8">
    {% csrf_token %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href = '{% static "css/register.css" %}' rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src='{% static "ajax.js" %}'></script>  <link href = '{% static "navbar.css" %}' rel="stylesheet">

</head>
    {% include "navbar.html" %}

    <body>
        <div class="content">
            <div class="container">
                <div class="mb-4">  
                    <h1 id="registertitle">Sign Up</h1>
                </div>
                <!-- test form是否有效 -->
                <!-- <span class="mb-0 text-muted">
                {% if msg %}
                {{ msg | safe }}
                {% else %}
                Login page
                {% endif %}
                </span> -->
                <form  method="post">
                    {% csrf_token %}
                    <div class="register_info">
                        <label for="username"><b>Username</b></label>
                        <br>
                        {{ form.username }}
                    </div>

                    <div class="register_info">
                        <label for="email"><b>Email</b></label>
                        <br>
                        {{ form.email}}
                    </div>

                    <div class= "register_info">
                        <label for="password"><b>Password</b></label>
                        <br>
                        {{ form.password1 }}
                    </div>

                    <div class= "register_info">
                        <label for="password"><b>Confirm Password</b></label>
                        <br>
                        {{ form.password2 }}
                    </div>

                    <div class= "register_info">
                        <label for="password"><b>Img</b></label>
                        <br>
                        {{ form.img }}
                    </div>

                    <!-- 讓使用者知道輸入是否有error -->
                    <span class="text-error">{{ form.errors }}</span>
                    <input type="submit"  id="registerbtn" value="Register" class="btn btn-pill text-white btn-block btn-primary register_butt">
                </form>
            </div>
        </div>

    </body>
</html>