<!doctype html>
{% load static %}
<html>
  <head>
    <meta name="viewpoint" content="width=device-width", initial-scale="1.0">
    <title>KounelChat</title>
    <link href='{% static "css/chatroom.css" %}' rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="leftSide">
        <!-- header -->
        <div class="header">
          <div class="userimg">
            <img src="../static/pic/user.png" class="cover">
          </div>
          <ul class="nav_icon">
            <li><ion-icon name="scan-circle-outline"></ion-icon></li>
            <li><ion-icon name="chatbox"></ion-icon></li>
            <li><ion-icon name="ellipsis-vertical"></ion-icon></li>
          </ul>
        </div>
        <!-- search -->
        <div class="search_chat">
          <div>
            <input type="text" placeholder="Search or start new chat">
            <ion-icon name="search-outline"></ion-icon>
          </div>
        </div>
        <!-- chat list -->
        <div class="chatList">
          <div class="block active">
            <div class="imgbox">
              <img src="../static/pic/img1.jpeg" class="cover">
            </div>
            <div class="details">
              <div class="listHead">
                <h4>Muhammad</h4>
                <p class="time">10:56</p>
              </div>
              <div class="message_p">
                <p>How to make Whatsapp clone using html and css only</p>
              </div>
            </div>
          </div>
          <div class="block unread">
            <div class="imgbox">
              <img src="../static/pic/img2.jpeg" class="cover">
            </div>
            <div class="details">
              <div class="listHead">
                <h4>Ashraf</h4>
                <p class="time">09:25</p>
              </div>
              <div class="message_p">
                <p>Hi, I found you on youtube.</p>
                <b>1</b>
              </div>
            </div>
          </div>
          <div class="block unread">
            <div class="imgbox">
              <img src="../static/pic/img2.jpeg" class="cover">
            </div>
            <div class="details">
              <div class="listHead">
                <h4>Ashraf</h4>
                <p class="time">Yesterday</p>
              </div>
              <div class="message_p">
                <p>Send for processing something</p>
                <b>2</b>
              </div>
            </div>
          </div>
          <div class="block">
            <div class="imgbox">
              <img src="../static/pic/img2.jpeg" class="cover">
            </div>
            <div class="details">
              <div class="listHead">
                <h4>Ashraf</h4>
                <p class="time">Yesterday</p>
              </div>
              <div class="message_p">
                <p>Test Test</p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="rightSide">
        <div class="header">
          <div class="imgText">
            <div class="userimg">
              <img src="../static/pic/img1.jpeg" class="cover">
            </div>
            <h4>Muhammad<br><span>online</span></h4>
          </div>
          <ul class="nav_icon">
            <li><ion-icon name="search-outline"></ion-icon></li>
            <li><ion-icon name="ellipsis-vertical"></ion-icon></li>
          </ul>
        </div>

        <!-- chatbox -->
        <div class="chatBox">
          <div class="message my_message">
            <p>Hi<br><span>12:15</span></p>
          </div>
          <div class="message frnd_message">
            <p>Hello<br><span>12:15</span></p>
          </div>
          <div class="message my_message">
            <p>Hi<br><span>12:15</span></p>
          </div>
          <div class="message frnd_message">
            <p>Hello<br><span>12:15</span></p>
          </div>
          <div class="message my_message">
            <p>Hi<br><span>12:15</span></p>
          </div>
          <div class="message frnd_message">
            <p>Hello<br><span>12:15</span></p>
          </div>
          <div class="message my_message">
            <p>Hi<br><span>12:15</span></p>
          </div>
          <div class="message frnd_message">
            <p>Hello<br><span>12:15</span></p>
          </div>
          <div class="message my_message">
            <p>Hi<br><span>12:15</span></p>
          </div>
          <div class="message frnd_message">
            <p>Hello<br><span>12:15</span></p>
          </div>
          <div class="message my_message">
            <p>Hi<br><span>12:15</span></p>
          </div>
          <div class="message frnd_message">
            <p>Hello<br><span>12:15</span></p>
          </div>
          <div class="message my_message">
            <p>Hi<br><span>12:15</span></p>
          </div>
          <div class="message frnd_message">
            <p>Hello<br><span>12:15</span></p>
          </div>
          <div class="message frnd_message">
            <p>Hello<br><span>12:15</span></p>
          </div>
          <div class="message my_message">
            <p>Hi<br><span>12:15</span></p>
          </div>
          <div class="message frnd_message">
            <p>Hello<br><span>12:15</span></p>
          </div>
          <div class="message my_message">
            <p>Hi<br><span>12:15</span></p>
          </div>
          <div class="message frnd_message">
            <p>Hello<br><span>12:15</span></p>
          </div>
          <div class="message my_message">
            <p>Hi<br><span>12:15</span></p>
          </div>
          <div class="message frnd_message">
            <p>Hello<br><span>12:15</span></p>
          </div>
          <div class="message my_message">
            <p>Hi<br><span>12:15</span></p>
          </div>
          
        </div>
        <!-- chat input -->
        <div class="chatbox_input">
          <input type="text" placeholder="Type a message">
        </div>
      </div>

      
    </div>





    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>