*.pyc
*/__pycache__/
.DS_Store

film_forum/member/all_2020-03-23_4.csv

*.csv

film_forum/member/all_2020-03-23_4.csv

*.csv

film_forum/member/all_2020-03-23_4.csv

*.csv

film_forum/member/all_2020-03-23_4.csv

*.csv

film_forum/member/all_2020-03-23_4.csv

film_forum/member/all_2020-03-23_5.csv

film_forum/member/all_2020-03-23_4.csv

*.csv
