body {
    margin: 0;
    /* background-color: #e6e4e4; */
}

/* a {
    text-decoration: none;
    color: black;
} */

.content {
    display: flex;
    align-items: center;
}

.intro {
    /* margin-left: 30px; */
    text-align: justify;
}

.intro h2 {
    color: orange;
    font-size: 30px;
    margin-bottom: 10px;
}

.director h2, .stars h2{
    color: orange;
    font-size: 25px;
    margin-bottom: 10px;
}

.director p, .intro p{
    margin-bottom: 10px;
}

.movie_detail {
    margin-left: 30px;
}

.photo img {
    width: 190px;
}

.movie_name {
    margin-bottom: 20px;
}

.movie_name h1 {
    font-size: 50px;
}

/* .in_out {
    margin-top: 100px;
    text-align: center;
}

.in_out a {
    color: white;
} */

.movie_info, .comment {
    text-align: justify;
    margin-top: 100px;
    color: white;
    width: 70%;
    margin-left: 15%;
}

.separate {
    margin: 50px 50px 0px 50px;
    width: 72%;
    margin-left: 14%;
    border: 1px solid #7e7a7a;
}

.forum {
    display: flex;
    justify-content: center;
}

#forum_content {
    width: 70%;
    margin-top: 3vh;
    /* background-color: #c5bcbc; */
    color: white;
    padding: 3vh 3vh 1vh 0vh;
}

.add_forum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: orange;
}

.add_forum button h3 {
    color: white;
    margin: 5px;
    cursor: pointer;
}

.add_forum button {
    background-color: #407087;
    border: #407087;
    /* color: white; */
    /* padding: 0px; */
    height: 28px;
}

#article {
    /* border-radius: 8px; */
    padding: 10px;
    padding-left: 3vh;
    /* background-color: white; */
    margin: 10px 10px 10px 10px;
    /* border-right: 1px solid #cbd5e0; */
    border-bottom: 1px solid #cbd5e0;
    /* border-top: 1px solid #cbd5e0; */
    /* border-left: 1px solid #cbd5e0; */
    height: 120px;
    cursor: pointer;
}

#article h3 {
    font-size: 25px;
}

/* #article a{
    text-decoration: none;
    color: white;
} */

#content {
    margin-top: 21px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 50px;
    margin-top: 10px;
    font-size: 16px;
}

#member p {
    font-size: 16px;
    text-align: end;
    color: #9f9f9f;
}

.more_forum {
    font-weight: bold;
    margin: 0px;
    cursor: pointer;
    text-align: end;
    color: orange;
}

.view {
    margin: 3vh 0vh 0vh 0vh;
    text-align: end;
}

.popup_form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vh;
}

.form_info {
    margin-bottom: 3vh;
}

.form_submit {
    text-align: center;
}

.form_all {
    margin-left: 15%;
    height: auto;
    width: 70%;
}

.form_all h2{
    text-align: center;
}
.no_article {
    margin: 30px 50px;
}

/* style */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 9999;
    max-height: 85%;
    /* width: 60%; */
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

/* .form_info input, .form_info textarea {
    width: 50vw;
} */

.movieCommentBox {
    width: 70%;
    margin: 3vh auto 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid #9f9f9f;
}

.allReviewBox {
    max-height: 400px;
    overflow-x: hidden;
}

.CommemtTitleBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.addComment {
    font-size: 18px;
    color: orange;
    font-weight: 500;
    background: none;
    border: none;
    border-radius: 10px;
    padding: 0px 10px;
    cursor: pointer;
}

.addComment_sideBar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    color: white;
}

.addComment_sideBar.active {
    width: 30%;
}

.popupBackground {
    position: absolute;
    height: 200%;
    width: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.popupBackground.active {
    width: 100%;
    top: 0;
    right: 0;
    height: 100%;
}

.movieInfo {
    display: flex;
}

.movieText {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.movieNameYear {
    color: #252525;
    font-size: 20px;
    flex: 1;
    border-bottom: 1px solid gray;
}

.movieNameYear p {
    position: relative;
    top: 35%;
}

.addCommentBox {
    display: flex;
    flex-direction: column;
}

.addCommentContBox {
    width: 100%;
    text-align: center;
}

.addComment_content {
    margin: 10px auto 0px;
    width: 95%;
}

.addCommentBox textarea {
    padding: 10px;
    border: 1px solid #cbd5e0;
    height: 250px;
}

.addComment_sideBar hr {
    margin-top: 10px;
}

.movieInfo {
    margin: 10px;
}

.movieIMG {
    width: 100px;
    flex: 1;
    margin: 10px;
}

.movieAdd {
    color: #252525;
    flex: 1;
    font-size: 24px;
    font-weight: 600;
}

.movieAdd p {
    position: relative;
    top: 25%;
}

.sideBarHeader {
    margin: 0px auto;
    background: orange;
    height: 50px;
    text-align: right;
}

.sideBarHeader .closeSideBar {
    position: relative;
    background: none;
    border: none;
    font-size: 28px;
    height: 55px;
    right: 10px;
    cursor: pointer;
}

.submitBox {
    width: 90%;
    margin: 20px auto 0px;
}

.submitReviewBtn {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #cbd5e0;
    font-size: 14px;
    background: #fff;
    cursor: pointer;
}

.submitReviewBtn:hover {
    box-shadow: 0px 0px 5px orange;
    transition: 0.2s;
}

.block {
    background: #9f9f9f;
    height: 30px;
    width: 100%;
}

.block p {
    position: relative;
    padding-left: 10px;
    top: 5px;
    font-size: 14px;
}

.sideBarFooter {
    position: relative;
    bottom: 0;
    background: orange;
    height: 50px;
}

.addComent_score {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating {
    position: relative;
    display: flex;
    padding: 30px 10px 30px 0px;
    flex-direction: row-reverse;
}

.rating input {
    display: none;
}

.rating label {
    position: relative;
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.rating label::before {
    content: '\f005';
    font-family: 'FontAwesome';
    font-size: 20px;
    color: #252525;
    /* transition: 0.5s; */
}

.rating label:hover::before,
.rating label:hover ~ label::before,
.rating input:checked + label::before,
.rating input:checked + label ~ label::before {
    color: var(--c);
}

.score-display {
    font-size: 16px;
    color: #ff9933;  /* 你可以根据需要调整颜色 */
}

#errorMessage1 {
    position: relative;
    margin: 0px 0px 0px 10px;
    top: 10px;
}

#errorMessage2 {
    position: relative;
    margin-left: 10px;
    top: 5px;
}

.userReviewBox {
    height: fit-content;
    max-height: 250px;
}


#userReview {
    color: #ffffff;
    width: 90%;
    margin: 0px auto 20px;
    padding: 10px 30px 30px 30px;
    background: rgba(194, 0, 0, 0.28);
    border-radius: 10px;
    overflow-x: hidden;
    height: fit-content;
    max-height: 250px;
}

.userReview_info {
    display: flex;
    margin: 10px 0;
    line-height: 33px;
}

.userReview_score {
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
    line-height: 35px;
}

.userReview_score .score {
    font-weight: 700;
    font-size: 20px;
}

.userReview_username {
    font-size: 24px;
    font-weight: 600;
    margin: 0px 20px 0px 0px;
}

.userReivew_cont {
    font-size: 18px;
}

#no_article {
    color: #ffffff;
    margin: 20px 30px;
    font-size: 20px;
}

.userReview_score ion-icon {
    margin-right: 3px;
    font-size: 28px;
    color: orange;
    position: relative;
    top: 5px;
}

.edit_message .material-symbols-outlined {
    font-size: 25px;
    line-height: 40px;
    cursor: pointer;
    margin: 0px 7px;
}

.edit_message .material-symbols-outlined:hover {
    color: orange;
}

.edit_review_content {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
    height: fit-content;
}

.review_buttons {
    float: right;
    gap: 10px;
    font-size: 35px;
}

.review_cancel_edit {
    color: red;
    cursor: pointer;
}

.review_submit_edit {
    color: greenyellow;
    cursor: pointer;
}

.tilteNButton {
    display: flex;
    justify-content: left;
    gap: 20px;
    /* line-height: 70px; */
    align-items: center;
}

.followBox {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
    padding: 5px 8px;
    border: 1px solid orange;
    border-radius: 10px;
    height: 35px;
    cursor: pointer;
    color: orange;
    background: none;
}

.followBox p {
    color: #ffffff;
}

.followBox ion-icon {
    position: relative;
    top: 4px;
}

.followBox:hover {
    background: orange;
    color: #ffffff;
}

.FavoriteBtn {
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}

.FavoriteBtn:hover {
    color: orange;
}