<!DOCTYPE html>
<html>
<head>
    <title>Search Trie</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(function() {
            $("#search-box").autocomplete({
                source: function(request, response) {
                    console.log(request.term);
                    if (request.term.trim()) {
                        $.ajax({
                        url: "{% url 'search_tree' %}",
                        dataType: "json",
                        data: {
                            term: request.term
                        },
                        success: function(data) {
                            response(data);
                        }
                    });
                    }
                },
                select: function(event, ui) {
                    window.location.href = ui.item.url;
                }
            });
        });
    </script>
</head>
<body>
    <h1>Search Movies</h1>
    <input id="search-box" type="text" placeholder="Search for a movie...">
</body>
</html>
