
  
h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif;
}

/* .text-muted {
    display: none;
}
  
a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a:hover {
    text-decoration: none !important;
}
  */
.content {
    display: flex;
    /* padding: 7rem 0; */
    justify-content: center;
} 
  
h2 {
    font-size: 20px;
}
  
.container {
    background: #ffffff;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    /* position: fixed; */
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    border-radius: 20px;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
}

.action_btn {
    visibility: hidden;
}

.errorlist{
    color: red;
}

.register_info{
    margin-bottom: 10px;
}

.mb-4 {
    width: 100%;
    background-color: #FF9800;
    /* ?#ffba54 */
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.register_info input{
    width: 30vw;
    height: 5vh;
    /* margin-bottom: 20px; */
}

.register_butt {
    width: 100%;
    margin-top: 10px;
    background-color: orange;
    color: #fff;
    padding: 0.625rem 1.25rem;
    border: 0;
    font-weight: bold;
    font-size: large;
    margin-bottom: 10px;

}
/*  */
/* 羅修改的 */
#registertitle{
    color: #fff;
}

#registerbtn{
    border-radius: 7px;
}
