:root{
    --backgroundcolor: #00050d;
    --backgruondcolorlight: rgba(255,255,255,.1);
    --dropdowncolor: rgba(255,255,255,0.1);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  body {
    height: 1000vh;
    background-color: #00050d;
    background-size: cover;
    background-position: center;
    margin-top: 30px; 
    /* background-image: url('https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1517&q=80'); */
  }
  
  li{
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color:#fff; 
    font-size: 1.35rem;
  }
  
  a:hover{
    color:orange;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    position: relative;
    padding: 0 2rem;
  }
  
  .navbar{
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00050d;
    padding: 0 2% 0  2%;
    border-radius: 50px;
  }
  
  .navbar .logo a{
    font-size: 2rem;
    font-weight: bold;
    color: orange;
  }
  
  .navbar .links {
    display: flex;
    gap: 2rem;
  }
  
  .navbar .toggle_btn {
      color:#fff;
      font-size: 1.5rem;
      cursor: pointer;
      display: none;
  }
  
  .action_btn {
    background-color: orange;
    color: #fff;
    padding: 0.625rem 1.25rem;
    border: none;
    outline:none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
  }
  
  .action_btn:hover {
    scale: 1.05;
    color: #fff;
  }
  
  .action_btn:active{
    scale:  0.95;
  }
  
  .search_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  /* banner */
  .banner{
    width: 100%;
    top: 80px;
    position: relative;
  }
  
  /* .banner img{
  
  } */
  
  /*  Responsive Navbar */
  @media (max-width: 992px){
    .navbar .links,
    .navbar .action_btn {
      display: none;
    }
  
    .navbar .toggle_btn {
      display: block;
    }
  
    .dropdown_menu {
      display: block;
    }
  }
  
  @media (max-width: 380px){
    .dropdown_menu{
      left: 2.5rem;
      width: unset;
    }
  }
  
  /* dropdown */
  
  .dropdown_menu {
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .dropdown_menu.open{
    height: 260px;
  }
  
  .dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  /* hero */
  
  section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
  }
  
  #hero h1{
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  /* top list */
  
  .toplist_submenu {
    display: none;
    position: absolute;
    background: rgba(255,255,255,0.1);
    padding: 25px;
    top: calc(30px + 1rem);
    /* border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .toplist_submenu li {
    list-style: none;
    /* margin: 30px 0; */
    padding: 20px 0;
  }
  
  .links li:hover .toplist_submenu {
    display: block;
  }
  
  /* searchbar */
  
  .hidden {
    display: none;
  }
  
  #search_container {
    position: fixed;
    top: 60px; /* Place it below the navbar */
    left: 22.5%;
    width: 55%;
    /* max-width: 400px; */
    height: 50px; 
    background-color: rgba(255,255,255,0.1);
    padding: 15px;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  #search_form{
    transition: all 1s;
    box-sizing: border-box;
  }
  
  #search_container input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    font-size: 1rem;
    border-radius: 20px;
    padding: 0 20px;
  }
  
  #smlsearch{
    display: none;
    margin-left: 70%;
    margin-right: 20px;
  }
  
  @media (max-width: 992px){
    #smlsearch{
      display: block;
    }
  }
  
  @media (max-width: 540px){
    #smlsearch{
      margin-left: 60%;
      display: block;
    }
  }
  
  @media (max-width: 484px){
    #smlsearch{
      margin-left: 40%;
      display: block;
    }
  }