<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% csrf_token %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORUM ARTICLE</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src='{% static "js/forum_article.js" %}'></script>
    <link href = '{% static "css/forum_article.css" %}' rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>

    {% for article in forum_article %}
    <div class="all">
        <div class="article_content">
            <span class="edit">
                <span class="material-symbols-outlined" id="edit">
                    edit
                </span>
                <span class="material-symbols-outlined" id="delete">
                    delete
                </span>
            </span>
            <!-- <div class=""> -->
                <!-- movie name -->
                <div class="movie_name">
                    <h1> movie name: {{ article.m_id }} </h1>
                    <hr>
                </div>

                <div class="title">
                    <h2> {{ article.title }} </h2>
                    <span style="display: none;"> TITLE </span>
                    <input type="text" class="edit_title" style="display: none;">
                </div>
                <div class="member">
                    <p> {{ article.user_id }} ・ {{ article.time }}</p>
                    <!-- <p>  </p> -->
                </div>
                <div class="content">
                    <span style="display: none;"> CONTENT </span>
                    <h4> {{ article.content }} </h4>
                    <textarea class="edit_content" style="display: none; width: 100%;"></textarea>
                </div>    
                <div class="edit_button">
                    <button class="edit_cancel" style="display: none;">Cancel</button>
                    <button class="edit_submit" style="display: none;">Submit</button>
                </div>
                <hr>

                <div class="fourm_message">
                    <h2>Message</h2>
                    <div class="message">
                        <form action="" method="POST" id="Message_form">
                            {% csrf_token %}
                        
                            <div class="form_info">
                                <label>Post a comment</label>
                                <br>
                                {{ form.message_content }}
                            </div>
                            <div class="form_info form_submit">
                                <br>
                                <button class="cancel_button" id="closePopupButton">Cancel</button>
                                <input class="submit_button" type="submit" value="Submit" />
                            </div>
                            <!-- <div class="transparent" style="display: block;">
                                <span class="forumID">{{ form.f_id }}</span>
                                <span class="movieID">{{ form.m_id }}</span>
                            </div> -->
                        </form>
                    </div>

                    
                {% for i in forum_message %}
                    <hr>
                    <div class="post_message">
                        <div class="post_infor">
                            <div class="post_user_name"><h3> {{i.f_id}} </h3></div>
                            <div class="post_time"><p> {{i.time}} </p></div>
                            <div class="post_content"><p> {{i.message_content}} </p></div>
                        </div>
                    </div>
                {% endfor %}

                </div>
            <!-- </div> -->
        </div>
    </div>
    {% endfor %}

</body>
</html>
