<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% csrf_token %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORUM</title>
    <link href = '{% static "css/forum.css" %}' rel="stylesheet">
</head>
<body>
    <!-- sidebar -->
    <div id = "bar">
        <div class="sidebar">
            <a href="" class="bar_header">
                <header>
                    HOUNEL
                </header>
            </a>
            <ul>
                <li><a>123</a></li>
            </ul>
            <ul>
                <li><a>123</a></li>
            </ul>
            <ul>
                <li><a>123</a></li>
            </ul>
            <ul>
                <li><a>123</a></li>
            </ul>
            <footer>
            </footer>
        </div>
    </div>
    <!-- sidebar -->
    <!-- nav bar -->
    <nav>
        <div class="topbar">
            <div class="navbar">
                <ul>
                    <li><a>123</a></li>
                    <li><a>123</a></li>
                    <li><a>123</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- nav bar -->

    <div id="forum_content">
        {% for article in forum_article %}
            <div id="article">
                <a href="https://housing-osa.nsysu.edu.tw/">
                    <div id="member">
                        <!-- 應改成user NAME -->
                        <span> {{ article.title }} </span> 
                        <span>・</span>
                        <span> {{ article.time }} </span>
                    </div>
                    <h2 id="title"> {{ article.title }} </h2>
                    <div id="content"> {{ article.content }} </div>    
                </a>
            </div>
        {% endfor %}
    </div>


</body>
</html>