<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% csrf_token %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORUM</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src='{% static "js/forum.js" %}'></script>

    <link href = '{% static "css/forum.css" %}' rel="stylesheet">
    <script src='{% static "ajax.js" %}'></script>



</head>
<body>
    <!-- sidebar -->
    <div id = "bar">
        <div class="sidebar">
            <a href="" class="bar_header">
                <header>
                    KOUNEL
                </header>
            </a>
            <ul>
                <li><a>123</a></li>
            </ul>
            <ul>
                <li><a>123</a></li>
            </ul>
            <ul>
                <li><a>123</a></li>
            </ul>
            <ul>
                <li><a>123</a></li>
            </ul>
            <footer>
            </footer>
        </div>
    </div>
    <!-- sidebar -->
    <!-- nav bar -->
    <nav>
        <div class="topbar">
            <div class="navbar">
                <ul>
                    <li><a>123</a></li>
                    <li><a>123</a></li>
                    <li><a>123</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- nav bar -->



    <div id="forum_content">
        <!-- test 是否登入 -->
        <div class="in_out">
            {% if request.user.is_authenticated %}
                <h1> {{user.username}} </h1>
                <a href="{% url 'log_out' %}"><h2>LOG OUT</h2></a>
            {% else %}
                <a href="{% url 'login' %}"><h2>LOG IN</h2></a>
                <a href="{% url 'register' %}"><h2>REGISTER</h2></a>
            {% endif %}
        </div>

        <div>
            <div class="add_forum">
                {% if request.user.is_authenticated %}
                <button id="openPopupButton">
                    <h3>+ Create Article</h3>
                </button>
                {% else %}
                <button>
                    <a href="{% url 'login' %}"><h3>Log in to add a new article.</h3></a>
                </button>
                {% endif %}
            </div>

        </div>

        <div class="overlay" id="overlay">
            <div class="popup" id="popupForm">
                <div class="form_all">
                    <h2>Create a forum</h2>
                    <div class="popup_form">
                        <form action="" method="POST">
                            {% csrf_token %}
                
                            <div class="form_info">
                                <label>{{ form.title.label }}</label>
                                <br>
                                {{ form.title }}
                            </div>
                            <div class="form_info">
                                <label>{{ form.conent.label }}</label>
                                <br>
                                {{ form.conent }}
                            </div>
                            <div class="form_info form_submit">
                                <br>
                                <button class="cancel_button" id="closePopupButton">Cancel</button>
                                <input class="submit_button" type="submit" value="Create" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        {% for row  in results %}
            {% for i in row %}
                <div id="article">
                <!-- <a href=""> -->
                    <div id="member">
                        <!-- 應改成user NAME -->
                        <span>   {{ i.username  }} </span> 
                        <span>・</span>
                        <span> {{ i.time }} </span>
                    </div>
                    <h2 id="title"> {{ i.title }} </h2>
                    <div id="content"> {{ i.conent }} </div>    
                    <div class="m_id" style="display: none;"> {{ i.mid_id }} </div>
                    <div class="user_id" style="display: none;"> {{ i.id }} </div>
                    <div class="art_id" style="display: none;"> {{ i.art_id }} </div>
                </div>
            {% endfor %}
        {% endfor %}

        <!-- {% for article in forum_article %}
            <div id="article"> -->
                <!-- <a href=""> -->
                    <!-- <div id="member"> -->
                        <!-- 應改成user NAME -->
                        <!-- <span> {{ article.uid }} </span> 
                        <span>・</span>
                        <span> {{ article.time }} </span>
                    </div>
                    <h2 id="title"> {{ article.title }} </h2>
                    <div id="content"> {{ article.conent }} </div>     -->
                <!-- </a> -->
                <!-- <div class="m_id" style="display: none;"> {{ article.mid }} </div>
                <div class="user_id" style="display: none;"> {{ article.uid }} </div>
                <div class="art_id" style="display: none;"> {{ article.art_id }} </div>
            </div>
        {% endfor %} -->



    </div>


</body>
<script>
    var openButton = document.getElementById("openPopupButton");
    var popup = document.getElementById("popupForm");
    var closeButton = document.getElementById("closePopupButton");
    var overlay = document.getElementById("overlay");

    openButton.addEventListener("click", function() {
        popup.style.display = "block";
        overlay.style.display = "block";
    });

    closeButton.addEventListener("click", function() {
        event.preventDefault();
        document.getElementById("id_title").value = "";
        document.getElementById("id_conent").value = "";
        popup.style.display = "none";
        overlay.style.display = "none";
    });
</script>
</html>