<head>
  {% load static%}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<header>
    <div class="navbar">
      <div class="logo"><a href="{% url 'home' %}">Kounel</a></div>
      <ul class="links">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'chatPage' %}">Chatroom</a></li>
        <li>
          <a href="{% url 'home'%}">Toplist</a>
          <ul class="toplist_submenu">
            <li><a href="{% url 'home'%}#ratedlist">Top 10 Highest Rated</a></li>
            <li><a href="{% url 'home'%}#watchlist">Top 10 Most Viewed</a></li>
          </ul>
        </li>
        <li>
          {% if request.user.is_authenticated %}
            <a href="{% url 'watchlist' %}">Watchlist</a>
          {% else %}
            <a href="{% url 'login' %}">Watchlist</a>
          {% endif %}
        </li>        
        <li>
          <a href="#" class="search_btn" id="search_trigger">
            <i class="fa-solid fa-search"></i>
          </a>
        </li>
      </ul>
      <!-- global_static\picture\pc_3.png-->
      <!-- '{% static "css/navbar.css" %}' -->
      <!-- Get Started -->
      {% if request.user.is_authenticated %}
        <a href="{% url 'log_out' %}" class="action_btn">Logout</a>
      {% else %}
        <a href="{% url 'login' %}" class="action_btn">Login</a>
      {% endif %}


      <div id="smlsearch">
        <a href="#" class="search_btn" id="search_triggersml">
          <i class="fa-solid fa-search"></i>
        </a>
      </div>

      <div class="toggle_btn">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>

    <div id="search_container" class="hidden">
      <form id="search_form" action="#" method="get">
        <input type="search" name="search" placeholder="Search" id="search"/>
      </form>
    </div> 
  </header>

  <script>
    const toggleBtn = document.querySelector('.toggle_btn');
    const toggleBtnIcon = document.querySelector('.toggle_btn i');
    const dropdownMenu = document.querySelector('.dropdown_menu');

    toggleBtn.onclick = function(){
      dropdownMenu.classList.toggle('open');
      const isOpen = dropdownMenu.classList.contains('open');

      toggleBtnIcon.classList = isOpen
        ? 'fa-solid fa-xmark'
        : 'fa-solid fa-bars';
    }
    //hide searchbar
    const searchTriggers = document.querySelectorAll('.search_btn');
    const searchContainer = document.getElementById('search_container');
    const searchForm = document.getElementById('search_form');
    const searchIcon = document.querySelector('.search_btn i');

    searchTriggers.forEach(trigger => {
      trigger.onclick = function() {
        event.preventDefault(); // 阻止默認行為
        searchContainer.classList.toggle('hidden');
        
        if (searchContainer.classList.contains('hidden')) {
          searchIcon.classList.remove('fa-xmark');
          searchIcon.classList.add('fa-search');
        } else {
          searchIcon.classList.remove('fa-search');
          searchIcon.classList.add('fa-xmark');
        }
      };
    });

    const toplistLink = document.querySelector('a[href="toplist"]');
    const toplistMenu = document.querySelector('.toplist_submenu');

    // 當鼠標進入下拉菜單時，顯示菜單
    toplistLink.addEventListener('mouseenter', function() {
      toplistMenu.classList.add('open');
    });
    
    // 當鼠標離開 Toplist 鏈接時，設置一段時間後隱藏菜單
    toplistLink.addEventListener('mouseleave', function() {
      setTimeout(function() {
        toplistMenu.classList.remove('open');
      }, 200000); // 延遲1秒後隱藏菜單
    });

  </script>
  <!-- <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
  <script>
    $( function() {
      var url = "{% url 'home'%}"; 
      $( "#search" ).autocomplete({
        source: url
      });
    } );
  </script> -->