body {
    margin: 0;
    background-color: #e6e4e4;
}

.edit {
    float: right;
    cursor: pointer;
}

#post-text {
    width: 100%;
    height: 50px;
}

/* .edit_content {
    width: 100%;
} */

.title {
    margin-bottom: 10px;
}

.title h1{
    margin-bottom: 5px;
}

.movie_name h2{
    margin-bottom: 5px;
}

.member p {
    margin-bottom: 20px;
}

.content h4{
    text-align: justify;
}

.edit_title {
    margin-bottom: 30px;
}

.title h2 {
    margin: 10px 0px 20px 0px;
}

.edit_button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 50px;
}

.edit_cancel {
    margin-right: 30px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.article_content {
    width: 70%;
    background-color: white;
    /* margin-left: 15%; */
    margin-top: 100px;
    padding: 50px;
}

.article_content > hr{
    margin-top: 100px;
}

.form_info > textarea {
    width: 99%;
    height: 90px;
}
.form_submit {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.login_post {
    text-align: end;
    margin-top: 10px;
    color: black;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.cancel_button {
    margin-right: 20px;
    margin-top: 12px;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.submit_button {
    margin-top: 10px;
    border: solid 1px;
    background-color: #166aaf;
    color: white;
    padding: 3px;
    border-radius: 3px;
}

.fourm_message {
    padding: 10px 20px;
    /* background-color: #e3dcdc; */
}

.all {
    display: flex;
    justify-content: center;
}

/* .post_message {
    display: flex;
    justify-content: center;
} */

.post_time, .post_content {
    margin-left: 10px;
}

.post_time p {
    font-size: 14px;
    text-align: end;
    margin-bottom: 10px;
}

.post_infor {
    /* width: 90%; */
    margin-left: 10px;
    margin: 8px 1px;
}

.post_content p{
    text-align: justify;
}
/* .movie_name hr{
    width: 70%;
} */