<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <link href='{% static "style.css" %}' rel="stylesheet"/>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>Kounel</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src='{% static "ajax.js" %}'></script>
    <script src='{% static "home.js" %}'></script>

  </head>
  <body>
    {% include "navbar.html" %}
    <div class="banner"> 
    </div>

    <main id="videos-container">
     
       <!-- Slider main container -->

      <div class="ranktitle">Top 10 Most Rated</div>

      <div class="swiper" id="ratedlist">
        <div class="swiper-wrapper">
          {% for movie in movies2 %}
          <div class="swiper-slide viewslide1">
              <img src="{{ movie.img }}" alt="{{ movie.name }}">
                <div class="title">
                  <span class="rank" id="rank"></span>
                  <span>{{ movie.name }}</span>
                  <span style="display: none;" class="m_id">{{ movie.mid }}</span>
                </div>
          </div>
          {% endfor %}
        </div>

        <div class="swiper-pagination"></div>

      </div>

      <div class="ranktitle">You  may also like</div>

      <div class="swiper" id="likelist">
        <div class="swiper-wrapper">
          {% for movie in movies3 %}
          <div class="swiper-slide">
              <img src="{{ movie.img }}" alt="{{ movie.name }}">
                <div class="title">
                  <span>{{ movie.name }}</span>
                  <span style="display: none;" class="m_id">{{ movie.mid }}</span>
                </div>
          </div>
          {% endfor %}
        </div>

      </div>

      <div class="ranktitle">Top 10 Most Watched</div>

      <div class="swiper" id="watchlist">
        <div class="swiper-wrapper">
          {% for movie in movies1 %}
          <div class="swiper-slide viewslide2">
              <img src="{{ movie.img }}" alt="{{ movie.name }}">
                <div class="title">
                  <span class="rank" id="rank"></span>
                  <span>{{ movie.name }}</span>
                  <span style="display: none;" class="m_id">{{ movie.mid }}</span>
                </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </main>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static 'slider.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
    <script>
        $(function() {
        var url = "{% url 'home' %}"; 
          $("#search").autocomplete({
            source: url,
            classes: {
              "ui-autocomplete": "highlight"
            },
            select: function(event, ui) {
            window.location.href = "{% url 'movie' %}"+"?m_id="+ui.item.url; 
            },

          });
        });
    </script>
    <script>
      // 獲取所有電影項目
      const movieItems1 = document.querySelectorAll('.viewslide1');
    
      // 計算並設置排名
      movieItems1.forEach((item, index) => {
        const rankSpan = item.querySelector('.rank');
        rankSpan.textContent = (index + 1) + '.';
      });

      // 獲取所有電影項目
      const movieItems2 = document.querySelectorAll('.viewslide2');
    
      // 計算並設置排名
      movieItems2.forEach((item, index) => {
        const rankSpan = item.querySelector('.rank');
        rankSpan.textContent = (index + 1) + '.';
      });
    </script>
  </body>
</html>
