<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <link href='{% static "style.css" %}' rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>Kounel</title>
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="logo"><a href="#">Kounel</a></div>
        <ul class="links">
          <li><a href="hero">Home</a></li>
          <li><a href="Username">Username</a></li>
          <li>
            <a href="toplist">Toplist</a>
            <ul class="toplist_submenu">
              <li><a href="#">Top 10 Highest Rated</a></li>
              <li><a href="#">Top 10 Most Viewed</a></li>
            </ul>
          </li>
          <li><a href="Watchlist">Watchlist</a></li>        
          <li>
            <a href="#" class="search_btn" id="search_trigger">
              <i class="fa-solid fa-search"></i>
            </a>
          </li>
        </ul>
        <a href="#" class="action_btn">Get Started</a>

        <div id="smlsearch">
          <a href="#" class="search_btn" id="search_triggersml">
            <i class="fa-solid fa-search"></i>
          </a>
        </div>

        <div class="toggle_btn">
          <i class="fa-solid fa-bars"></i>
        </div>
      </div>

      <div id="search_container" class="hidden">
        <form id="search_form" action="{% url 'searchbar' %}" method="get">
          <input type="search" name="search" placeholder="Search"/>
        </form>
      </div> 

      <div class="dropdown_menu">
        <li><a href="hero">Home</a></li>
        <li><a href="Watchlist">Watchlist</a></li>
        <li><a href="Username">Username</a></li>
        <li>
          <a href="toplist">Toplist</a>
          <ul class="toplist_submenu">
            <li><a href="#">Top 10 Highest Rated</a></li>
            <li><a href="#">Top 10 Most Viewed</a></li>
          </ul>
        </li>
        <li><a href="#" class="action_btn">Get Started</a></li>
      </div>
    </header>

    <main id="videos-container">
      <section> 
        <img src="{{ movieup.img }}" alt="{{ movieup.name }}">
      </section>
    
      <div class="slider">
        {% for movie in movies1 %}
        <div class="slide">
            <img src="{{ movie.img }}" alt="{{ movie.name }}">
            <h3>{{ movie.name }}</h3>
            <p>{{ movie.introduction }}</p>
            <a href="{{ movie.link }}" target="_blank">Watch Movie</a>
        </div>
        {% endfor %}
      </div>

      <div class="slider">
        {% for movie in movies2 %}
        <div class="slide">
            <img src="{{ movie.img }}" alt="{{ movie.name }}">
            <h3>{{ movie.name }}</h3>
            <p>{{ movie.introduction }}</p>
            <a href="{{ movie.link }}" target="_blank">Watch Movie</a>
        </div>
        {% endfor %}
      </div>

      <div class="slider">
        {% for movie in movies3 %}
        <div class="slide">
            <img src="{{ movie.img }}" alt="{{ movie.name }}">
            <h3>{{ movie.name }}</h3>
            <p>{{ movie.introduction }}</p>
            <a href="{{ movie.link }}" target="_blank">Watch Movie</a>
        </div>
        {% endfor %}
      </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      const toggleBtn = document.querySelector('.toggle_btn');
      const toggleBtnIcon = document.querySelector('.toggle_btn i');
      const dropdownMenu = document.querySelector('.dropdown_menu');

      toggleBtn.onclick = function(){
        dropdownMenu.classList.toggle('open');
        const isOpen = dropdownMenu.classList.contains('open');

        toggleBtnIcon.classList = isOpen
          ? 'fa-solid fa-xmark'
          : 'fa-solid fa-bars';
      }
      //hide searchbar
      const searchTriggers = document.querySelectorAll('.search_btn');
      const searchContainer = document.getElementById('search_container');
      const searchForm = document.getElementById('search_form');
      const searchIcon = document.querySelector('.search_btn i');

      searchTriggers.forEach(trigger => {
        trigger.onclick = function() {
          searchContainer.classList.toggle('hidden');
          
          if (searchContainer.classList.contains('hidden')) {
            searchIcon.classList.remove('fa-xmark');
            searchIcon.classList.add('fa-search');
          } else {
            searchIcon.classList.remove('fa-search');
            searchIcon.classList.add('fa-xmark');
          }
        };
      });

      const smlSearchTrigger = document.getElementById('search_triggersml');
      const smlSearchIcon = document.querySelector('#search_triggersml i');

      smlSearchTrigger.onclick = function() {
        searchContainer.classList.toggle('hidden');
        
        if (searchContainer.classList.contains('hidden')) {
          smlSearchIcon.classList.remove('fa-xmark');
          smlSearchIcon.classList.add('fa-search');
        } else {
          smlSearchIcon.classList.remove('fa-search');
          smlSearchIcon.classList.add('fa-xmark');
        }
      };

      $('.slider').each(function() {
          $(this).slick({
              autoplay: false, 
              autoplaySpeed: 3000, 
              arrows: true, 
              dots: true, 
              prevArrow: '<button type="button" class="slick-prev">Previous</button>', 
              nextArrow: '<button type="button" class="slick-next">Next</button>', 
              slidesToShow: 3, 
              slidesToScroll: 1, 
              responsive: [ 
                  {
                      breakpoint: 768, 
                      settings: {
                          slidesToShow: 2 
                      }
                  },
                  {
                      breakpoint: 480,
                      settings: {
                          slidesToShow: 1 
                      }
                  }
              ]
          });
      });

    </script>
  </body>
</html>
